@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');

h2 {
  font-family: "Lexend Giga", serif;
  color: white;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

h1{
    font-family: "Lexend Giga", serif;
    color: #4675F5;
    font-weight: 900;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}